    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-weight: normal; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body{line-height: 1;} ol, ul{list-style: none;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;} table {border-collapse: collapse; border-spacing: 0;}
    html, body{background:#fff url('../resim/body.jpg') repeat-x; font-weight: normal; color: #333;  font-family: 'Arial',sans-serif; height: 100%;}
    span,a,p,input,label{color: inherit; font-family: inherit;}
    input[type="buton"], input[type="submit"] {cursor:pointer;}
    input[type="text"], input[type="password"], textarea {outline:0;}
    a{text-decoration: none; outline: 0;}
    a:hover, a:active, a:focus      {text-decoration: none;}
    a, a:active, a:focus{outline:0;}
    .temiz:before,
    .temiz:after {
        content: " ";
        display: table;
    }
    .temiz:after {
        clear: both;
    }
    .tutucu{width: 1170px; margin: 0px auto;}
    .sag{float: right;}
    .sol{float: left;}

/* ================================================ */
/* ! header                                         */
/* ================================================ */   
header{float: left; width: 100%;}
    header .logo{}
        header .logo a{display: block; float: left; margin-top: 30px;}
            header .logo a img{width: 311px; height: 48px; }
    header .menu{}        
        header .menu ul{width: 550px; float: left; margin: 40px 0 0 50px;}        
            header .menu ul li{width: 20%; border-left: 1px solid #004a80; padding: 0 10px; display: block; float: left;  text-align: center;}        
            header .menu ul li:first-child{border-left: none;}        
                header .menu ul li a{width: 100%; color: #9e0b0f; font-weight: bold; font-size: 18px;}        
                header .menu ul li a:hover{text-shadow: 0 0 10px #9e0039; transition: all ease-in-out 0.35s;}        
    header .takvim{margin-top: 37px; float: right;}

/* ================================================ */
/* ! section                                        */
/* ================================================ */     
section{margin-top: 20px; clear: both; width: 100%; float: left; clear: both;} 
    section h2.baslik{width: 100%; border: 1px solid #000; padding: 7px 0 7px 5px;}     
    section .orta{border: 1px solid #000; width: 100%;  padding-left: 5px; padding-bottom: 25px; float: left;}
        section .orta p{width: 50%; margin: 30px auto 0 auto; line-height: 18px;}
        section .orta .resimler{width: 23%; margin: 0 auto;}
        section .orta .resimler img{display: block; margin-top: 25px; }
        section .orta a{border: 2px solid #000; width: 150px; height: 50px; text-align: center; padding-top: 30px; box-shadow: 7px 7px 0 #000; display: block; margin-top: 170px;}
        section .orta a:hover{border-color: #9e0039; box-shadow: none; color: #9e0039; transition: all ease-in-out 0.5s; font-weight: bold;}
        section .orta a.sag{margin-right: 70px;}
        section .orta a.sol{margin-left: 65px;}
            .orta input[type="submit"]{margin: 30px 0 5px 5%; border: 1px solid #000; box-shadow: 3px 3px 0 #000;}
            .orta textarea{width: 90%; margin-left: 5%; height: 350px; border: 2px solid #000; resize: none; padding: 10px 0 0 10px;}
            .orta ul{width: 100%;}
                .orta ul li{width: 25%; float: left; display: block;}
                    .orta ul li .insan{margin-top: 15px;}
                        .insan h4{border: 3px solid #9e0039; display: inline-block; margin-bottom: 10px;}
                        .insan span{}
                        .insan span img{}
                        .insan .bilgiler{border: 1px solid #000; width: 94%; padding-bottom: 15px;}
                            .insan .bilgiler p{width: 100%; margin-top: 10px; padding-left: 1%;}
            .orta ul.slider{}                
                .orta ul.slider li{}                
                    .orta ul.slider li a{border: none;box-shadow: none;height: auto; margin: 0; padding: 0;}                
    /* ================================================ */
    /* !iletisim                                        */
    /* ================================================ */  
    .iletisim{border: 2px solid #000; width: 60%; margin: 70px 0 0 5%; height: 300px; padding: 10px 0 0 0 ; float: left;}
        .iletisim label{width: 100%; display: block; margin: 0 0 30px 10px; }
            .iletisim label span{}
        .harita{width: 25%; margin-right: 30px; height: 300px; float: right; margin-top: 5%;}   
     /* ================================================ */
    /* !menuler                                         */
    /* ================================================ */
    .menuler{width: 20%;float: left; display: inline-block;}
        .menuler ul{width: 100%; overflow: hidden;}
            .menuler ul li{width: 100%; display: block;}
                .menuler ul li a{width: 90%; height: 20px; margin-top: 10px; padding-top: 10px}
    .orta p.sayfa8{width: 40%; float: left;}            
        .orta p.sayfa8 span{color: purple;}           
        .orta img.sag{margin: 30px 30px 0 0;}
     /* ================================================ */
    /* !video                                           */
    /* ================================================ */
    .video{margin: 10px 10px 0 0;}
    .aciklama{border: 2px solid #000; height: 350px; width: 40%; float: left; margin: 10px 0 0 10px;}
        .aciklama p{width: 90% !important;}
    
       